.product-table-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  background: #f8f9fa;
}

.table-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.table-top input[type="text"] {
  padding: 5px 10px;
  border-radius: 15px;
  height: 20px;
  width: 200px;
  margin-right: 50px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

th, td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.table-header {
  background: #2a2d3e;
  color: white;
}

.product-img {
  margin-right: 5px;
}

.pagination {
  margin-top: 10px;
  display: flex;
  gap: 5px;
}

.pagination button {
  padding: 5px 10px;
  cursor: pointer;
}

.pagination button.active {
  background: #2a2d3e;
  color: white;
}

.textbox input{
background: #f0f0fa;
max-width: 350px !important;
padding: 8px 12px;
height: 35px !important;
border: none;
outline: none;
font-size: 14px;
}